/* Sidebar.css */
.sidebar {
    width: 300px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.sidebar-search {
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

.conversation {
    margin-bottom: 10px;
}